@import url(../variables.css);

.test-card {
  background-color: var(--color-orange-1);
  width: 240px;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.test-card__title {
  font-family: var(--font-heading-1);
  font-size: 1.4rem;
  color: var(--color-blue-1);
  margin: 14px 10px 0;
}

.test-card__subtitle {
  font-family: var(--font-heading-1);
  font-size: 1.2rem;
  color: var(--color-blue-1);
  margin: 14px 10px 0;
}

.test-card__flavour-text {
  font-family: var(--font-long-text-1);
  font-style: italic;
  font-size: 1.2rem;
  margin: 14px 10px;
}